$magic_bar_color: rgb(204, 208, 212);
$menu_hover_color: rgba(204, 208, 212, 0.8);

.header {
  height: 100vh;
  h1 {
    font-size: 1.8rem;
    line-height: 2.5rem; 
    margin: 0 0 0 1rem;
  }
  ul {
    font-size: 2rem;
    line-height: 2rem;
  }
  text-transform: uppercase;
  @include breakpoint-up(md) {
    h1, ul {
      font-size: 3rem;
      line-height: 3rem;
    }
  }
  @include breakpoint-up(lg) {
    h1 {
      margin: 0 1rem;   
    }
    h1, ul {
      font-size: 5rem;
      line-height: 5rem;
    }
  }
  ul {
    list-style-type: none;
    margin: 0;
    // margin-left: 4px;
    padding: 0;
    li {
      a {
        display: block;
        padding-left: .5rem;
        width: 100%;
        background: linear-gradient(to bottom, $menu_hover_color 0%, $menu_hover_color 100%);
        background-position: 0 100%;
        background-repeat: repeat-y;
        background-size: 0px 4px;
        transition: background-size .2s;
        &:hover {
          background-size: 100% 4px;
          text-decoration: none;
        }
      }
    }
  }
}

.header {
  width: 78vw;
 .menu {
    width: 78vw;
    ul.menu-list {
      .magic-button {
        left: -40px;
        width: 40px;
        min-height: 40px;
      }
    }
  }  
}

@include breakpoint-up(sm)  {
  .header {
    width: 85vw;
    .menu {
      width: 85vw;
    }
  }
}

@include breakpoint-up(md) {
  .header {
    width: 88vw;
    .menu {
      width: 88vw;
      ul.menu-list {
        margin-left: 5px;
        .magic-button {
          width: 50px;
          min-height: 50px;
          left: -50px;
        }
      }
    }
  }
}

@include breakpoint-up(lg) {
  .header h1  {
    margin-left: 5px;
  }
  .header .menu {
    ul.menu-list {
      // margin-left: 10px;
      .magic-button {
        width: 60px;
        min-height: 60px;
        left: -60px;
      }
    }
  }
}

@include breakpoint-up(xl) {
  .header h1 {
    margin-left: 1rem;
  }
  .header .menu {
    ul.menu-list {
      .magic-button {
        width: 70px;
        min-height: 70px;
        left: -70px;
      }
    }
  }
}

.header .menu {
  position: fixed;
  z-index: 999;
  &.scrolled {
    ul.menu-list {
      background-color: rgba(0, 139, 139, 0.5);    
      &.open {
        .close-button {
          display: block;
        }
      } 
    }
  }
  ul.menu-list {
    position: relative;
    transform: none;
    transition: all 500ms;
    .close-button {
      position: absolute;
      width: 30px;
      height: 30px;
      right: 0;
      top: -30px;
      display: none;
      cursor: pointer;
      &::after, &::before {
        display: block;
        position: absolute;
        right: 50%;
        content: ' ';
        width: 2px;
        height: 25px;
        background-color: white;
        transform: rotate(45deg);
        z-index: 999;
      }
      &::before {
        transform: rotate(-45deg);
      }
      &:hover {
        &::after, &::before {
          background-color: $color_bg_page;
        }
      }
    }
    &.scrolled {
      background-color: rgba(0, 139, 139, 0.5);
      .close-button {
        display: block;
        cursor: pointer;
      }
    }    
    .magic-button {
      position: absolute;
      top: 0;
      transform-origin: top right;      
      &:after, &:before {
        content: '';
        position: absolute;
        background-color: $magic_bar_color;
        height: 50%;
        width: 4px;
        transform: none;
        transition: all 500ms;
      }
      &:after {
        transform-origin: bottom right;
        top: 0;
        right: 0;
      }
      &:before {
        transform-origin: top right;
        bottom: 0;
        right: 0;
      }
    }
    li {
      max-height: 200px;
      overflow: hidden;
    }
    .magic-button.arrow {
      animation: makeArrow .7s ease-in-out;      
      animation-fill-mode: forwards;
      cursor: pointer;
      height: unset !important;
      &:before {
        animation: arrowBefore .7s ease .5s;
        animation-fill-mode: forwards;
      }
      &:after {
        animation: arrowAfter .7s ease .5s;
        animation-fill-mode: forwards;
      }          
    }
    .magic-button.unarrow {
      height: unset !important;
      animation: unMakeArrow 1s ease-in-out .4s;
      animation-fill-mode: both;
      &:before {
        animation: unBefore .5s ease 0s;
        animation-fill-mode: both;
      }
      &:after {
        animation: unAfter .5s ease 0s;
        animation-fill-mode: both;
      }
    }
  }
}

@keyframes arrowBefore {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg);
  }
}

@keyframes arrowAfter {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg);
  }
}

@keyframes makeArrow {
  from {
    transform: rotate(0);
    top: 0;
  }
  to {
    top: -10px;
    transform: rotate(90deg);
  }
}

@keyframes unMakeArrow {
  from {
    top: -10px;
    transform: rotate(90deg);
  }
  75% {
    top: 0;
    transform: rotate(0);
    height: 40px;
  }
  to {
    height: 100%;
  }
}

// @include breakpoint-up(lg) {
//   @keyframes unMakeArrow {
//     from {
//       top: -10px;
//       transform: rotate(90deg);
//     }
//     75% {
//       top: 0;
//       transform: rotate(0);
//       height: 70px;
//     }
//     to {
//       height: 100%;
//     }
//   }
// }

@keyframes unBefore {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0);
  }
}

@keyframes unAfter {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0);
  }
}