.projects {
  margin: 0 10vw;
  .inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    .list {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: center;
    }
  }
  .project-single {
    // display: inline-flex;
		// flex-direction: column;
    // height: 32vh;
    width: calc((100% / 4 ) - 30px);
    margin: 15px;    
    float: left;  
    position: relative; 
    .project-inner {
      cursor: pointer;
      position: relative;
      background-color: #41484D;
      border: 1px solid #E2711D;
      border-top-width: 5px;  
      // padding: 0 1rem 1rem 1rem;   
      height: 32vh;  
      width: 100%;
      transition: all .2s ease-out; 
      &:after {
        transition: all .2s ease-in-out;
      }
      &:before {
        transition: all .3s ease-in-out;
      }
    }
    // background-color: #41484D;            
    z-index: 22; 
    transition: all 2s ease-out;
    .project-expander {
      transition: all .2s ease-out;
      background-color: #41484D;
      width: 100%;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    &.is-collapsed {
      .project-inner {
        &:before {
          content: '';
          opacity: 1;
          display: block;
          position: absolute;
          height: 0;
          width: 100%;
          background-color: #E2711D;
        }
        &:after {
          content: '';
          opacity: 0;
        }
      }
      .project-expander {
        max-height: 0;
        min-height: 0;
        overflow: hidden;
        margin-top: 0;
        opacity: 0;
      }
    }
    &.is-expanded {
      .project-inner {
        // border-top-width: 32vh;
        &:before {
          content: '';
          opacity: 1;
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: #E2711D;
        }
        &:after {
          content: '';
          opacity: 1;
          display: block;
          height: 0;
          width: 0;
          position: absolute;
          bottom: -34px;
          left: calc(50% - 15px);
          border-left: 15px solid  transparent;
          border-right: 15px solid transparent;
          border-bottom:  15px solid  #41484D;
        }
      }
      .project-expander {
        max-height: 1000px;
        min-height: 200px;
        overflow: visible;
        margin-top: 30px;
        opacity: 1;
        width: calc(400%  + 90px);
      }
    }

    h2 {
      border-bottom: 2px solid $color_header;
      position: absolute;
      padding-bottom: 1rem;
      width: calc(100% - 30px);
      left: 15px;
      top: 0;
    }
  }
  .project-single {
    &:nth-of-type(4n + 4) {
      .project-expander {
        margin-left: calc((-300% - 90px));
      }
    }
    &:nth-of-type(4n + 3) {
      .project-expander {
        margin-left: calc((-200% - 60px));
      }
    }
    &:nth-of-type(4n + 2)  {
      .project-expander {
        margin-left: calc((-100% - 30px));
      }
    }
    // &:nth-of-type(3n+1) {
    //   .project-expander {
    //     margin-left: calc(-100% - 30px);
    //   }
    // }
  }
}