.projects {
  margin: 0 10vw;
  p.more {
    margin-top: 0;
  }
  .inner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    .list {
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      // justify-content: center;
    }
  }
  .project-single {
    // display: inline-flex;
		// flex-direction: column;
    // height: 32vh;
    margin: 15px;    
    float: left;  
    position: relative; 
    .project-inner {
      h1.project-title {
        font-size: 1.8rem;
        transition: all .2s ease-in-out;
        z-index: 100;
        border-bottom: 2px solid $color_header;
        position: absolute;
        padding-bottom: 1rem;
        width: calc(100% - 30px);
        left: 15px;
        top: 0;        
      }
      cursor: pointer;
      position: relative;
      background-color: #41484D;
      border: 1px solid #E2711D;
      border-top-width: 5px;  
      // height: calc((88vw / 4) - 60px); 
      width: 100%;
      transition: all .2s ease-out; 
      .image {
        position: absolute;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: 0;
        }
      }
      &:after {
        transition: all .2s ease-in-out;
      }
      &:before {
        transition: all .3s ease-in-out;
      }
    }
    transition: all 2s ease-out;
    .project-expander {
      transition: all .2s ease-out;
      background-color: #41484D;
      position: relative;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      width: 100%;
      h3.project-title {
        border-bottom: 2px solid $color_header;
        margin: .5rem 0 0 0;
        padding: 0 1rem .5rem 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
      .tech {
        h4, p {
          margin: 0 0 .5rem 0;
        }
        order: 4;
        margin: 1rem;
        padding: 1rem;
        border: 1px solid $color_header;
      }
      .info {
        margin: 0 1rem;
      }
      .links {
        margin: 1rem 1rem 0 1rem;
        font-size: 1rem;
        ul {
          list-style-type: none;
          margin: 0 1rem 0 0;
          padding: 0;
          display: flex;
          justify-content: flex-end;
          li {
            margin: 0 1rem;
            position: relative;
            &:not(:first-child)  {
              &:before {
                content: '|';
                position: absolute;
                left: -1rem;
              }
            }
          }
        }
      }
      .image {
        width: 100%;
        img {
          width: 100%;
          height: auto;
        }
      }
      .links {
        z-index: 20;
      }
    }
    &.is-collapsed {
      .project-inner {
        &:before {
          content: '';
          opacity: 1;
          display: block;
          position: absolute;
          height: 0;
          width: 100%;
          height: 100%;
          background-color: #41484D;
          z-index: 50;
          opacity: .9;
        }
        &:after {
          content: '';
          opacity: 0;
        }
      }
      .project-expander {
        max-height: 0;
        min-height: 0;
        overflow: hidden;
        margin-top: 0;
        opacity: 0;
      }
    }
    &.is-expanded {
      .project-inner {
        .project-title {
          opacity: 0;
        }
        // border-top-width: 32vh;
        &:before {
          content: '';
          opacity: 1;
          display: block;
          position: absolute;
          height: 100%;
          width: 100%;
          background-color: #E2711D;
          opacity: 0;
        }
        &:after {
          content: '';
          opacity: 1;
          display: block;
          height: 0;
          width: 0;
          position: absolute;
          bottom: -34px;
          left: calc(50% - 15px);
          border-left: 15px solid  transparent;
          border-right: 15px solid transparent;
          border-bottom:  15px solid  #41484D;
        }
      }
      .project-expander {
        max-height: 1000px;
        min-height: 200px;
        overflow: visible;
        margin-top: 30px;
        opacity: 1;
      }
    }
  }
}

.projects .project-single {
  width: 100%;
  .project-inner  {
    h1.project-title {
      font-size: 1.8rem;
    }
    height: calc(88vw - 30px);
  }
}

@include breakpoint-up(xs) {
  .projects .project-single {
    .project-inner {
      height: calc(50vw);
    }
  }
}

@include breakpoint-up(sm) {
  .projects .project-single {
    width: calc((100% / 2) - 30px);
    .project-inner  {
      height: calc((88vw/2) - 30px);
    }
    .project-expander {
      width: calc(200% + 30px);
      .tech {
        order: 4;
        align-self: flex-end;
      }
    }
    &.is-expanded {
      .project-expander {
        width: calc(200% + 30px);
      }
    }
    &:nth-of-type(2n + 2) {
      .project-expander {
        margin-left: calc(-100% - 30px);
      }
    }
  }
}

@include breakpoint-up(md) {
  .projects .project-single {
    .project-inner {
      h1.project-title {
        font-size: 2rem;
      }
    }
  }
}

@include breakpoint-up(lg) {
  .projects .list {
    max-width: 1200px;
  }
  .projects .project-single  {
    width: calc((100% / 3) - 30px);
    .project-inner {
      height: calc((88vw / 3) - 30px);
      max-height: ((1200px / 3 - 30px));
    }
    .project-expander {
      .project-title {
        flex: 0 0 100%;
      }
      .info {
        flex: 0 0 55%;
        order: 4;
        margin: 0 1rem 0 0;
        p {
          margin: 1rem 0;
        }
      }
      .links {
        flex: 0 0 100%;
        order: 2;
        // margin: 1.2rem 0 1rem 0;
      }
      .tech {
        align-self: stretch;
        flex: 0 0 35%;
        order: 3;
        margin: 1rem 0 1rem 1rem;
      }
      justify-content: space-between;
      width: calc(300% + 60px);
      flex-direction: row;
      flex-wrap: wrap;

    }
    &.is-expanded {
      .project-expander {
        width: calc(300% + 60px);
      }
    }
    &:nth-of-type(3n + 1) {
      .project-expander {
        margin-left: 0;
      }
    }
    &:nth-of-type(3n+3) {
      .project-expander {
        margin-left: calc((-200% - 60px));
      }
    }
    &:nth-of-type(3n + 2) {
      .project-expander {
        margin-left: calc((-100% - 30px));
      }
    }
  }
}

// @include breakpoint-up(xl) {
//   .projects {
//     max-width: 1200px;
//   }
//   .projects .project-single {
//     .project-inner {
//       height: calc((1200px / 4) - 60px); 
//     }
//     .project-expander {
//       align-items: stretch;
//       .tech {
//         border: 1px solid $color_header;
//       }
//       width: calc(400% + 90px);
//     }
//     width: calc((100% / 4 ) - 30px);
//     &.is-expanded {
//       .project-expander {
//         width: calc(400%  + 90px);
//       }
//     }
//     &:nth-of-type(4n + 1)  {
//       .project-expander {
//         margin-left: 0;
//       }
//     }     
//     &:nth-of-type(4n + 4) {
//       .project-expander {
//         margin-left: calc((-300% - 90px));
//       }
//     }
//     &:nth-of-type(4n + 3) {
//       .project-expander {
//         margin-left: calc((-200% - 60px));
//       }
//     }
//     &:nth-of-type(4n + 2)  {
//       .project-expander {
//         margin-left: calc((-100% - 30px));
//       }
//     }  
//   }
// }
