@import 'normalize.scss';

$color_link: #ec9b3b;
$color_header: #f7be16;
// $color_bg_page:#00818a;
$color_bg_page: #011627;
$color_bg_section: #273540;

@import 'breakpoints.scss';
@import 'typography.scss';
@import 'header.scss';
@import 'about.scss';
@import 'projects.scss';

body {
  font-family: "Roboto";
  font-size: 1rem;
  // line-height: 1.4rem;
  background: $color_bg_page;
  p {
    line-height: 1.4rem;
  }
}

.section {
  min-height: 100vh;
  margin: 0rem 6vw;
  &:not(.header) {
    margin: 3rem 6vw;
    padding-top: 6rem;
    text-align: right;
    display: flex;
    flex-direction: column;  
    .inner {
      background: $color_bg_section;
      flex-grow: 1;
    }  
  }
}

.header {
  background: 
                linear-gradient(225deg, #2F404E87 0 18%, transparent 18% ),
                // linear-gradient(135deg, #2F404E 0 18%, transparent 18%),
                // linear-gradient(45deg, #2F404E 0 18%, transparent 18%),
                // linear-gradient(315deg, #2F404E 0 18%, transparent 18%),
                ;
                // linear-gradient(303.5deg, #2F404E  0 25%, transparent 25%);
                // linear-gradient(135deg, #2F404E 0 30%, transparent 30% );
// linear-gradient(135deg, #ECEDDC 25%, transparent 25%) -50px 0,
// linear-gradient(225deg, #ECEDDC 25%, transparent 25%) -50px 0,
// linear-gradient(315deg, #ECEDDC 25%, transparent 25%),
// linear-gradient(45deg, #ECEDDC 25%, transparent 25%);
  background-size: 30px 30px;
  background-repeat: repeat;
}
