@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Space+Mono&display=swap');

body {
  color: white;
  font-family: "Roboto";
  font-weight: 300;
}

a {
  color: $color_link;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Space Mono";
  color: $color_header;
}