div.header.section
  div.menu#menu
    h1 Michelle Enos
    ul.menu-list
      div.close-button
      div.magic-button
      li: a(href='#about') About
      li: a(href='#projects') Projects
      li: a(href='#contact') Contact