doctype html
html(lang="en")
  head
    title Michelle Enos
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="I'm a web developer in Philadelphia, PA experienced in building responsive websites in Wordpress, NodeJS, React, and others.")
    meta(property="og:description", content="I'm a web developer in Philadelphia, PA experienced in building responsive websites in Wordpress, NodeJS, React, and others.")
    meta(property="og:title", content="Michelle Enos")
    meta(property="og:image", content="https://michelleenos.com/images/portfolio-site.png")
    meta(property="og:site_name", content="Michelle Enos")
    meta(property="og:url", content="http://michelleenos.com")
    meta(name="twitter:title", content="Michelle Enos - Web Developer")
    link(rel='stylesheet', href='/css/style.css?v=1.0')
    script(src='/js/bundle.js')

  body
    include header.pug

    //- div.lorem
    //-   h2 Some Lorem Ipsum and Stuff asd
    //-   each para in paragraphs
    //-     p=para

    //-   include text-generate
    //-   +text-gen(7, "sentences")

    include includes/about.pug
    
    include includes/projects.pug

    include includes/contact.pug


    block footer